.suggestions{
    margin-top: 30px;
    margin-right: 20px;
}
.suggestions_title{
    color: grey;
    font-weight: bold;
}

.username_left{
   display: inline;
   padding-right: 30px;
}
.username_info{
    display: flex;
    flex-direction: column;
}
.relation{
    color: grey;
    font-size: 12px;
}
.suggestion_username{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.follow_button{
    color: #0095f7;
    font-weight: bold;
    background: 0;
    border: 0;

}
.follow_button:hover{
    color: black;
    cursor: pointer;
}