#sideHeader{
    padding: 10%;
    text-align: center;
    padding-left: 2%;
    width: 15vw;
    height: 93vh; 
    border-right: 0.2rem solid rgb(235, 231, 231);
    position: sticky;
    top: 0;

}

#navlinksparent{
    padding: 10%;
    width: 15vw;

    margin-top: 2.5rem; /* Adjust the value as needed */
  justify-content: space-between;
 
}

#containerdiv{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

#navlinks{
    display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  cursor: pointer;
  font-size: 1.125rem;
  width: 15vw;
  text-align: center;
  margin-left: 10px;
}

#compName{
    top:0;
    text-align: center;
    padding-top: 2vh;

    font-size: 2vw; /* Adjust the value as needed */
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
  text-transform: uppercase; /* Adjust the text transformation as needed */
  margin-top: 1rem; /* Adjust the margin as needed */
  margin: 1rem; /* Adjust the margin as needed */
  line-height: 1.2; /* Adjust the line height as needed */
  letter-spacing: 0.1rem; /* Adjust the letter spacing as needed */
  /* Additional properties you can consider */
   font-family: 'Papyrus', fantasy; 
  /* text-decoration: underline; */
   text-shadow: 1px 1px 2px #000; 
}